link(rel="stylesheet" href="css/style.css")

html
    head
        title Quiz

        body
                #quizTop
                .grid
                    h2#quiz Mythology Quiz
                    p#question Question
                    d#quizButtons
                    br
                    button#btn0 Hover Me
                    br
                    span#choice0
                    button#btn1 Hover Me
                    br
                    span#choice1
                    button#btn2 Hover Me
                    br
                    span#choice2
                    button#btn3 Hover Me
                    br
                    span#choice3
                    br
                    p#progress Question x of y.
        

