extends layout

mixin message(opp, name)
    if(opp)
        h1.greeting Logged in as 
            span=name 
            a.button_nav(href="/greek") Enter Module # 1
    else 
        h1.greeting Welcome 
            span=name
            a.button_nav(href="/greek") Enter Module # 1 
            |  to our website

append links 
    li(style="float: right;")
        a(href="/logout") logout 

block content
    .dashboard 
        .user 
            +message(opp, name)

            br
            br
            h2.text_center Welcome to Mythendium!  Please proceed through the modules and complete the examination when you're finished.
            br
            br
            img.center(src="/img/MythendiumLogo_1_70.jpg", alt="Mythendium Logo") 
