extends layout
block content 
    .login-panel 
        img(src="img/MythendiumLogo_1_70.jpg")
        include includes/login-form 
    .register-panel 
        img(src="img/zeus.jpg" class="centerZues")
        include includes/register-form
    