extends layout

mixin message(opp, name)
    if(opp)
        h1.greeting Logged in as 
            span=name 
    else 
        h1.greeting Japanese Mythology
            a.button_nav(href="/aztec") Proceed to Module # 8

append links 
    li(style="float: right;")
        a(href="/logout") logout 

block content
    .dashboard 
        .user 
            +message(opp, name)
            br
            p.text About Japanese Mythology
            br
            p Japanese mythology embraces Shinto and Buddhist traditions as well as agriculturally-based folk religion. The Shinto pantheon comprises innumerable kami (Japanese for "god(s)" or "spirits"). This article will discuss only the typical elements present in Asian mythology, such as cosmogony, important deities, and the best-known Japanese stories.  Japanese myths, as generally recognized in the mainstream today, are based on the Kojiki, the Nihon Shoki, and some complementary books. The Kojiki, or "Record of Ancient Matters", is the oldest surviving account of Japan's myths, legends and history. The Shintōshū describes the origins of Japanese deities from a Buddhist perspective, while the Hotsuma Tsutae records a substantially different version of the mythology.
            br
            p.text Benzaiten
            br
            p Also referred to as Benten, Benzaiten is a Buddhist patron deity of the arts and femininity, and was often venerated by geisha. She is also the only female among Japan’s “Seven Gods of Fortune,” and is worshipped as a goddess of luck. She has a strong association with the sea, and is often depicted riding a large sea dragon, or playing a biwa, a type of Japanese lute. There is a legend that says she tamed a five-headed dragon who plagued coastal fishing communities with her extraordinary beauty, and that the dragon rests at Ryuko-ji (literally “Dragon’s Mouth Temple”) in Enoshima.
            img.center(src="/img/Benzaiten.jpg", alt="Benzaiten")